[submodule "client"]
	path = client
	url = https://github.com/bjsmithxyz/zoneforge-client
[submodule "server"]
	path = server
	url = https://github.com/bjsmithxyz/zoneforge-server
[submodule "editor"]
	path = editor
	url = https://github.com/bjsmithxyz/zoneforge-editor.git
